body {
    background-color: 
    #14AFE5;
}

.title, .subtitle {
    color: aliceblue;
}

.navbar.is-dark {
    background-color: #363636;
}

#pdf-file-name {
    background-color: aquamarine;
    font-size: 24px;
}

.page-title {
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.extracted-text {
    margin-bottom: 40px;
    text-align: left;
    font-size: 22px;
}

.navbar-item img {
    max-height: 4rem;
}

.navbar-link, a.navbar-item {
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    padding: 5px 30px;
}

.navbar.is-dark .navbar-end > a.navbar-item:hover {
    background-color: #14afe5;
    color:#f5f5f5;
    text-decoration:  none;
}

.modal-card {
    height: 85%;
    width: 80%;
}

.pagination {
    background-color: whitesmoke;
}

.pagination-next {
    padding: 10px 20px;
    margin: 10px;
}


.pagination-previous {
    padding: 10px 20px;
    margin: 10px;
}

#result-modal-editable {
    height: 100%;
    width: 100%;
    padding: 20px;
    margin:20px;
}

.navbar-brand img {
    padding: 5px 10px;
}

.navbar-brand a:hover {
    text-decoration: none;
}

.buttons.is-centered {
    width: 100%;
}

.pagination-button {
    background-color: #209CEE;
    color: white !important;
}